<!-- app/views/admin/basentas/index.html.erb -->
<h1>All Basentas</h1>

<%= link_to 'Add New Basenta', new_admin_basenta_path, class: 'btn btn-primary mb-3' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Location</th>
      <th>Contact Person</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @basentas.each do |basenta| %>
      <tr>
        <td><%= basenta.id %></td>
        <td><%= basenta.name %></td>
        <td><%= basenta.location %></td>
        <td><%= basenta.contact_person %></td>
        <td>
          <%= link_to 'View', admin_basenta_path(basenta), class: 'btn btn-info btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
