<!DOCTYPE html>
<html>
  <head>
    <title>UDRS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Include Rails UJS directly via a script tag -->
    <script src="https://cdn.jsdelivr.net/npm/@rails/ujs@7.0.4/lib/assets/compiled/rails-ujs.js"></script>
  </head>

  <body>
    <% if user_signed_in? && current_user.admin? %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <%= render 'shared/sidebar' %>
          </div>
          <div class="col-md-10 offset-md-2">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="container mt-5">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
